name: Build and push to Tencent TCR

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Debug Secrets
        run: |
          echo "Checking if secrets for Docker tag are empty..."
          if [ -z "${{ secrets.TCR_REGISTRY }}" ]; then echo "::error::Secret 'TCR_REGISTRY' is empty or not set."; fi
          if [ -z "${{ secrets.TCR_NAMESPACE }}" ]; then echo "::error::Secret 'TCR_NAMESPACE' is empty or not set."; fi
          if [ -z "${{ secrets.TCR_REPOSITORY }}" ]; then echo "::error::Secret 'TCR_REPOSITORY' is empty or not set."; fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to TCR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.TCR_REGISTRY }}
          username: ${{ secrets.TCR_USERNAME }}
          password: ${{ secrets.TCR_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.TCR_REGISTRY }}/${{ secrets.TCR_NAMESPACE }}/${{ secrets.TCR_REPOSITORY }}:${{ github.sha }}
            ${{ secrets.TCR_REGISTRY }}/${{ secrets.TCR_NAMESPACE }}/${{ secrets.TCR_REPOSITORY }}:latest
